/* *{
    border: 2px solid red;
} */
.main{
    background-color: rgba(0, 0, 0, 0.02);
    /* background-color: aqua; */
    top: 0%;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.main .container{
    padding: 50px 20vw;
}
.main .container .upper{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.main .container .upper h1{
    font-size: 50px;
    margin-top: 50px;
}

.main .container .upper p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.main .container .upper .intro{
    margin: 0px 50px 0px 0px;
}

.upper .intro a img{
    padding: 20px 20px 0px 0px;
    filter: invert(100%);
    color: aqua;
}


.main .container .upper .myimage{
    border-left: 5px solid wheat;
    border-top: 10px solid wheat;
    border-right:15px solid wheat;
    border-bottom:10px solid wheat;

   animation: anim 8s ease-in-out infinite;
}

@keyframes anim{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


.main .lower{
    display: flex;
    align-items: center;
}

.main .lower{
    margin-top: 50px;
}

.main .lower p{
    font-size: 20px;
    padding-right:20px;
    border-right: 2px solid rgb(255, 218, 150);
}

.main .lower div{
    margin: 0px 0px 0px 50px;
    display: flex;
    overflow: hidden;
    border-radius: 50px;
}
.main .lower img{
    margin: 8px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    animation: slide 15s linear infinite;
}

@keyframes slide{
    from{
        left: 0;
    }
    to{
        left: -947px;
    }
}


@media screen and (max-width: 650px) {
    .main .container{
        padding: 10px 8vw;    
    }
    .main .container .upper .intro{
        margin: 0px;
    }
    .main .container .upper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main .container .upper .mainlinks{
        display: none;
    }
    .main .container .upper h1{
        margin: 10px 0px;
        font-size: 40px;
    }
    .main .upper .myimage{
        height: 300px;
        width: 230px;
    }
    .main .container .upper .mainimagediv{
        order: -1;
    }
    .main .upper h1{
        text-align: center;
    }
    .main .upper p{
        text-align: center;
    }
    .main .lower{
        margin: 20px;
        flex-direction: column;
    }
    .main .lower p{
        padding: 0px 10px;
        border: none;
        border-bottom: 2px solid wheat;
    }
    .main .lower div{
        width: 100%;
        margin: 0px 30px;
    }
}