.chatbox{
    background-color: wheat;
    position: fixed;
    display: inline;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    border-radius: 50%;
}
.chatbox .chat{
    padding: 20px;
    border-radius: 50%;
    border: none;
    background-color: wheat;
}