nav{
    background-color: #fff;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 40px;
    box-shadow: 0px 0px 20px rgba(196, 132, 14, 0.386);
    z-index: 1;
}


.routes div a::after{
    background-color: black;
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    left: 0px;
    bottom: 0px;
    transition: all 0.5s;
}
.routes div a:hover::after{
    background-color: rgb(177, 115, 0);
    width: 100%;
}


.logo a{
    color: rgb(177, 115, 0);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.routes a{
    font-weight: 900;
    color: black;
    padding: 7px 10px;
    margin: 0px 8px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ;
    border: none;
    background-color: #fff;
    position: relative;
}
.routes a:hover{
    color: rgb(177, 115, 0);
}
.routes > button{
    display: none;
    background-color: #ffffff;
    border: none;
}


@media screen and (max-width: 1000px) {
    .routes button{
        display: inline;
    }
    .routes div{
        border-radius: 5px;
        padding: 20px 0px;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(196, 132, 14, 0.386);
        position: fixed;
        right: -300px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        opacity: 0;
        background-color: rgb(255, 255, 255);
    }
    .routes div>*{
        padding: 10px 20px;
        border-radius: 5px;
        margin: 5px 15px;
        border: 2px solid rgba(0, 0, 0, 0.331);
        /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    }
    nav{
        padding: 25px 30px;
    }
}