.footer .container{
    color: #fff;
    padding: 50px 20vw;
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: space-between
}
.footer .container div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container h3{
    font-size: 18px;
}

.footer .container div>a{
    margin: 0px 10px;
    position: relative;
}
.footer .container div>a:hover{
    bottom:5px;
}


@media screen and (max-width: 650px) {
    .footer .container{
        padding: 50px 8vw;
        /* flex-direction: column; */
    }
    .footer .container div{
        margin-top: 20px;
    } 
}
@media screen and (max-width: 500px) {
    .footer .container{
        flex-direction: column;
    }
}