@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { min-height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
button, a { cursor: pointer; }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #08090d; }
::-webkit-scrollbar-thumb { background: #343741; border-radius: 20px; border: 2px solid #08090d; }
::-webkit-scrollbar-thumb:hover { background: #515560; }
